* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    sans-serif;
  background: linear-gradient(135deg,  #7d5d9c 0%, #381957 100%);
  min-height: 100vh;
  padding: 20px;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background: black;
  border-radius: 20px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}


.header {
  color: white;
  padding: 30px;
  text-align: center;
}

.header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  font-weight: 300;
}

.header p {
  color: white;
  font-size: 1.1em;
}

.books-list {
  padding: 30px;
  padding-top: 0;
}

.book-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 9px;
  background: #f8f9fa;
  border-radius: 12px;
  transition: all 0.3s ease;
  border: 2px solid transparent
}

.book-item:hover {
    border: 2px solid #9b7bb5; /* or #7d5d9c for darker, or #b19cd9 for lighter */
    box-shadow: 0 8px 20px #9941af;
    transform: translateX(5px);
}

.book-icon {
  font-size: 1.5em;
  margin-right: 10px;
  color: #9941af;
}

.book-info {
  flex: 1;
}

.book-title {
  font-size: 1.3em;
  font-weight: 600;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 5px;
}

.book-author {
  color: #7f8c8d;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  display: flex;
  align-items: center;
}

.book-author::before {
  content: "✍️";
  margin-right: 8px;
  font-size: 0.9em;
}

.stats {
  background: #ecf0f1;
  padding: 20px 30px;
  text-align: center;
  border-top: 1px solid #dde4e9;
}

.stats p {
  font-size: 1.1em;
}

.stats span {
  color: #2c3e50;
  font-weight: 600;
  font-size: 1.3em;
  margin-left: 10px;
}

@media (max-width: 600px) {
  .container {
    margin: 20px auto;
  }

  .header h1 {
    font-size: 2em;
  }

  .book-item {
    padding: 15px;
  }

  .book-title {
    font-size: 1.1em;
  }
}
